<!doctype html>
<html>
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{{ title }} - Chat 14</title>
        {% endblock %}
    </head>
    <body>
        {% from 'bootstrap5/nav.html' import render_nav_item %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="navbar-nav mr-auto">
                    {{ render_nav_item('index', 'Home') }}
                    {% if current_user.is_anonymous %}
                    {{ render_nav_item('login', 'Log In') }}
                    {{ render_nav_item('register', 'Register') }}
                    {% else %}
                    {{ render_nav_item('logout', 'Log Out') }}
                    {% endif %}
                </div>
            </div>
        </nav>
        
        {% from 'bootstrap5/utils.html' import render_messages %}
        {{ render_messages() }}
        
        <div class="container">
            {% block web_page %}{% endblock %}
        </div>
    </body>
</html>
